.content-content-3-symbols {
    font-family: inter;
    display: flex;
    justify-content: center;
    max-width: 1345px;
    align-items: center;
    margin-left: 135px;
    height: 72px;
    margin: 30px auto;
}

.item-symbol {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    width: 421px;
}

.text-from-symbol {
    margin-left: 10px;
    font-size: 18px;
}

.text-symbols1 {
    font-weight: bold;
}

.content-container {
    max-width: 1300px;
    margin: 0px auto;
}

.item-cards__pagination {
    display: flex;
    justify-content: end;
    margin-right: 12px;

    // &-button(-button последнее слово в классе по этому все работате) окрашивает все кнопки
    &-button {
        font-family: inter;
        border: none;
        background: none;
        color: #A1A0A0;
    }
}

.active-button {
    color: #F0BA4E;
    font-weight: 600; // Устанавливает толщину шрифта. 
}

.item-cards__grid {
    display: flex;
    max-width: 100%;
}

.item-cards__grid-left {
    height: 428px;
    // width: 421px;
    box-shadow: 0px 20px 50px 50px #3C3C3B12; // Добавляет тень к элементу.
    max-height: 428px;
    max-width: 421px;
    background-image: url(/assets/image19.png); // выводим картинку и задаем значения
    background-repeat: no-repeat; // Предотвращает повторение фонового изображения по горизонтали и вертикали
    overflow: hidden; // Скрывает содержимое, выходящее за пределы элемента
    background-position-y: bottom;
    background-position-x: left;
    padding: 15px;
    box-sizing: border-box; // Определяет, как рассчитываются размеры элемента. При border-box, padding и border учитываются в общей ширине и высоте элемента.
    display: flex;
    flex-direction: column; // Устанавливает направление главной оси Flex-контейнера вертикально, располагая дочерние элементы в столбик.
    justify-content: space-between;
}

.item-cards__grid-left-text {
    font-size: 28px;
    font-family: Inter;
    font-weight: 600;
}

.item-cards__grid-left-action {
    align-self: end; // задаем элементу нужную позицию
    display: flex;
    align-items: center;
    font-family: inter;
}

.item-cards__grid-right {
    display: flex;
    flex-wrap: wrap; // Позволяет элементам Flex-контейнера переноситься на следующую строку, если они не помещаются в одну строку.
    height: 100%;
    width: 100%;
    gap: 20px; // Устанавливает расстояние между элементами внутри Flex-контейнера.
    margin-left: 20px;
}

.item-cards__grid-right-block {
    background-color: white;
    width: 421px;
    height: 204px;
    box-shadow: 0px 20px 50px 50px #3C3C3B12;
    display: flex;
}

.text-container1 {
    display: flex;
    flex-direction: column;
}

.item-cards__grid-left-text1 {
    font-size: 28px;
    font-family: Inter;
    font-weight: 600;
    margin-top: 10px;
    align-self: end;
}

.item-cards__grid-left-action1 {
    align-self: end; // задаем элементу нужную позицию
    display: flex;
    align-items: center;
    font-family: inter;
    margin-top: 105px;
}

.item-cards-image1 {
    width: 50%;
}

.text-container2 {
    display: flex;
    flex-direction: column;
}

.item-cards__grid-left-text2 {
    font-size: 28px;
    font-family: Inter;
    font-weight: 600;
    margin-top: 10px;
    margin-left: 10px;
    align-self: end;
}

.item-cards__grid-left-action2 {
    display: flex;
    align-items: center;
    font-family: inter;
    margin-top: 75px;
    margin-left: 10px;
}

.item-cards-image2 {
    width: 50%;
    height: 60%;
    margin-top: 80px;
}

.text-container3 {
    display: flex;
    flex-direction: column;
}

.item-cards__grid-left-text3 {
    font-size: 28px;
    font-family: Inter;
    font-weight: 600;
    padding: 10px 10px 60px 10px;
    background-color: white;
}

.item-cards__grid-left-action3 {
    display: flex;
    align-items: center;
    font-family: inter;
    background-color: white;
    padding: 10px 0px 15px 10px;
}

.item-cards-image3 {
    width: 50%;
    height: 100%;
    align-items: end;
}

.text-container4 {
    background-image: url(/assets/image15.png);
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position-x: left;
    font-family: inter;
}

.item-cards__grid-left-text4-1 {
    margin-left: 15px;
    font-weight: 600;
    font-size: 28px;
    margin-top: 15px;
}

.item-cards__grid-left-text4-2 {
    font-size: 14px;
    display: flex;
    align-items: center;
    margin-left: 230px;
    margin-top: 100px;
}

.content-popular {
    width: 1429px;
    height: 491;
    height: 100%;
    margin: 0 auto;
}

.item-text-popular {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 70px;
    margin-top: 50px;
}

.item-with-4-cards-popular {
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 30px auto;
    font-family: inter;

}

.text-popular {
    font-size: 28px;
    font-family: Inter;
    font-weight: 500;
}

.text-popular-button {
    border: none;
    background-color: transparent;
    color: #f0ba4e;
    font-family: Inter;
    font-weight: 600;
    font-size: 18px;
}

.item-popular-cards {
    width: 309px;
    height: 450px;
    background-color: white;
    box-shadow: 0px 20px 50px 50px #3C3C3B12;
}

.item-popular-cards {
    align-items: center;
    margin: 0 auto;
}

.item-two-symbols {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-right: 30px;
    margin-left: 30px;
}

.item-image-popular {
    display: flex;
    margin: 0 auto;

}

.item-symbol-love1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 35px;
    border-radius: 25px;
    background-color: #fa616e;
    color: white;
    position: absolute;
}

.item-vector {
    position: relative;
    left: 230px;
}

.text1-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 20px;
}

.text1-2 {
    display: flex;
    font-weight: 500;
    font-size: 16px;
    justify-content: start;
    align-items: start;
    margin-left: 27px;
    margin-top: 10px;
}

.text1-3 {
    display: flex;
    font-weight: 100;
    font-size: 16px;
    justify-content: start;
    align-items: start;
    margin-left: 27px;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #a1a1a1;
}

.text1-4 {
    display: flex;
    font-weight: 500;
    font-size: 16px;
    justify-content: start;
    align-items: start;
    margin-left: 27px;
    text-decoration: line-through;
    display: inline;
}

.text1-5 {
    display: flex;
    font-weight: 500;
    font-size: 20px;
    justify-content: start;
    align-items: start;
    margin-left: 15px;
    display: inline;
}

.text1-6 {
    display: flex;
    font-weight: 500;
    font-size: 20px;
    justify-content: start;
    align-items: start;
    margin-left: 27px;
    display: inline;
}

.item-symbol-love1-1 {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 105px;
    height: 30px;
    border-radius: 15px;
    background-color: #09c684;
    color: white;
}

.item-symbol-love1-2 {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 35px;
    margin-top: 50px;
    border-radius: 25px;
    background-color: #fa616e;
    color: white;
}

.polygon-image-left {
    display: flex;
    position: relative;
    left: 25px;
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 100px;
    box-shadow: 0px 20px 50px 50px #3C3C3B12;
    padding: 15px;
}

.polygon-image-right {
    display: flex;
    position: relative;
    right: 25px;
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 100px;
    box-shadow: 0px 20px 50px 50px #3C3C3B12;
    padding: 15px;
}

.item-down-cards {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin: 10px 20px;
}

.item-cleaner {
    display: flex;
    justify-content: center;
    align-items: start;
    margin-top: 10px;
    padding-top: 12px;
    background-color: transparent;
    border-radius: 50px;
    height: 50px;
    width: 130px;
    border: #F0BA4E solid 1px;
}

.text-count {
    margin-top: 3px;
    margin-left: 5px;
}

.item-down-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 10px;
}

.item-count-button {
    background-color: transparent;
    border: none;
}

.content-10000 {
    display: flex;
    justify-content: space-between;
    max-width: 1275px;
    margin: 50px auto;
    box-shadow: 0px 20px 50px 50px #49494912;
    background-color: #f6f6f6;
    font-family: inter;
}

.texts-block-10000 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 30px 0px 30px 30px;
}

.text1-10000 {
    font-weight: 500;
    font-size: 28px;
    color: #3C3C3B;
}

.text2-10000 {
    font-weight: 400;
    font-size: 20px;
    color: #A1A0A0;
    margin-top: 10px;
}

.button-10000 {
    background-color: #f6f6f6;
    border: none;
    display: flex;
    align-items: start;
    color: #F0BA4E;
}

.content-new {
    display: flex;
    flex-direction: column;
    max-width: 1350px;
    margin: 0 auto;
}

.content-new-products {
    display: flex;
    justify-content: space-between;
    font-family: inter;
    margin-bottom: 30px;
    margin: 0px 50px;
}

.new-products {
    font-weight: 500;
    font-size: 28px;
}

.view-all-products {
    font-weight: 600;
    font-size: 18px;
    color: #F0BA4E;
}

.item-new-4-cards {
    margin-top: 15px;
    display: flex;
    gap: 30px;
}

.item-new-cards {
    display: flex;
    font-family: inter;
    flex-direction: column;
    width: 309px;
    height: 429px;
    box-shadow: 20px 20px 50px 50px #49494912;
}

.item-cards-new-products {
    display: flex;
    flex-direction: column;
}

.item-new-text {
    position: absolute;
    font-size: 16px;
    color: #FFFFFF;
    background-color: #08C785;
    padding: 10px 15px;
    border-radius: 25px;
    margin: 25px 0px 0px 25px;
}

.item-new-products-vector {
    position: absolute;
    margin: 35px 0px 0px 230px;
}

.item-cards-new-image {
    position: relative;
    padding-top: 15px;
    margin: 0 auto;
}

.text-new-1 {
    font-weight: 600;
    font-size: 19px;
    display: flex;
    justify-content: center;
}

.text-new-2 {
    font-weight: 500;
    font-size: 16px;
    display: flex;
    margin-top: 10px;
    margin-left: 19px;
}

.text-new-3 {
    font-weight: 500;
    font-size: 16px;
    margin-top: 25px;
    margin-left: 19px;
    color: #A1A0A0;
}

.text-new-4 {
    font-weight: 600;
    font-size: 20px;
    display: flex;
    margin-top: 10px;
    margin-left: 19px;
}

.item-cards-down-new-products {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 19px;
    margin-top: 15px;
}

.item-down-new-button {
    display: flex;
    justify-content: space-between;
    margin: 10px 0px;
}

.item-new-count {
    font-weight: 500;
    font-size: 16px;
    margin-top: 15px;
}

.button-new {
    background-color: transparent;
    border: none;
}

.button-new-clean {
    display: flex;
    justify-content: center;
    align-items: start;
    margin-top: 10px;
    padding-top: 12px;
    background-color: transparent;
    border-radius: 50px;
    height: 50px;
    width: 130px;
    border: #F0BA4E solid 1px;
}

.polygon-image-left2 {
    display: flex;
    position: relative;
    margin-top: 150px;
    left: 35px;
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 100px;
    box-shadow: 0px 20px 50px 50px #3C3C3B12;
    padding: 15px;
}

.polygon-image-right2 {
    display: flex;
    position: relative;
    margin-top: 150px;
    right: 35px;
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 100px;
    box-shadow: 0px 20px 50px 50px #3C3C3B12;
    padding: 15px;
}