<div class="content_form">

    <h2 class="form_title">Create todo form</h2>

    <form class="block_form" [formGroup]="form" (ngSubmit)="submitFormTodo()">

        <p class="form_title_input">Assignment number:</p>
        <input type="text" placeholder="Enter your assignment" class="form_input" formControlName="userId">
        <div *ngIf="form.controls.userId.invalid && (form.controls.userId.dirty || form.controls.userId.touched)"
            class="alert">
            <div *ngIf="form.controls.userId.errors">Задание введено неправильно!</div>
        </div>


        <p class="form_title_input">Id member:</p>
        <input type="text" placeholder="Enter your member" class="form_input" formControlName="id">
        <div *ngIf="form.controls.id.invalid && (form.controls.id.dirty || form.controls.id.touched)" class="alert">
            <div *ngIf="form.controls.id.errors">Id введено неправильно!</div>
        </div>


        <p class="form_title_input">Task:</p>
        <input type="text" placeholder="Enter your task" class="form_input" formControlName="title">
        <div *ngIf="form.controls.title.invalid && (form.controls.title.dirty || form.controls.title.touched)"
            class="alert">
            <div *ngIf="form.controls.title.errors">Задача введено неправильно!</div>
        </div>


        <p class="form_title_input">Completed:</p>
        <input type="text" placeholder="Enter YES\NO" class="form_input" formControlName="completed">
        <div *ngIf="form.controls.completed.invalid && (form.controls.completed.dirty || form.controls.completed.touched)"
            class="alert">
            <div *ngIf="form.controls.completed.errors">Решение введено неправильно!</div>
        </div>

        <button [disabled]="form.invalid" class="form_button">CREATE TASK</button>
    </form>
</div>