<div class="name_title">
    <app-create-user-form (createUserForm)="createUserList($event)"></app-create-user-form>
</div>
<div class="content_users">

    <!-- для async нужно импротировать AsyncPipe в файле UsersListComponent и async преобразует
     данные из RXJS коробочки просто достает и отображает данные на сайте так же async
     превращает usersService.usersSubject из типа BehaviorSubject в обычные данные
     т.е. преобразует в обычный массив и затем ngFor работает без проблем -->
    <div *ngFor="let i of usersService.users$ | async">

        <!-- квадратные скобки это связывание свойства (input binding) в Angular
         в [] передаем определенные данные [user_input]="i" -->
        <app-user-card [user_input]="i" (deleteUser_card)="deleteUser_list($event)"></app-user-card>

    </div>
</div>