.name_title {
    max-width: 1350px;
    display: flex;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 15px;
    color: #3C3C3B;
    font-size: 30px;
    font-family: 'Inter', sans-serif;
}

.content_users{
    display: flex;
    flex-wrap: wrap;
    max-width: 1350px;
    min-height: 600px;
    margin: 0 auto;
    margin-bottom: 50px;
    color: #3C3C3B;
}

.block_users {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 250px;
    width: 200px;
    flex-wrap: wrap;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 15px;
    padding: 25px;
    border: 1px #3C3C3B solid;
    border-radius: 15px;
    margin: 15px 5px;
}

.btn_delete {
    width: 170px;
    height: 45px;
    border: 1px solid #3C3C3B;
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
    border-radius: 30px;
    background: #f3b81d;
    color: #3C3C3B;
}

.btn_delete:hover {
    font-weight: 600;
    color: #f3b81d;
}