<div class="container">
  <h1 class="title">Хотите выйти?</h1>
  <div class="btn-wrap">
    <button
      class="btn"
      mat-raised-button
      color="warn"
      mat-dialog-close="logout"
      shadowHighLight
      matTooltip="Выйти"
    >
      <mat-icon>logout</mat-icon>
      Выйти
    </button>
    <button
      class="btn"
      mat-raised-button
      color="primary"
      mat-dialog-close=""
      shadowHighLight
      matTooltip="Остаться"
    >
      <mat-icon>close</mat-icon>
      Отмена
    </button>
  </div>
</div>
