<div style="background-color: #4c565f;">
    <div class="footer">
        <div class="footer-1">
            <div class="footer-left">
                <div>
                    <img src="/assets/Frame.svg" alt="logo">
                </div>
                <div class="footer-left-text">
                    <div class="footer-contact-and-image">
                        <img src="/assets/call-calling.png" alt="image-phone">
                        <div>Контактный телефон</div>
                    </div>
                    <div class="footer-email-image">
                        <img src="/assets/Icon.png" alt="image-email">
                        <div>Электронная почта</div>
                    </div>
                </div>
                <div class="footer-numbers-and-emails">
                    <div>
                        <div class="footer-number-email">+7 (812) 309-09-34</div>
                        <div class="footer-number-email">+7 (965) 084-29-09</div>
                    </div>
                    <div>
                        <div class="footer-number-email">&#64;tustin78email.ru</div>
                        <div class="footer-number-email">&#64;infotustin.ru</div>
                    </div>
                </div>
            </div>
            <div class="footer-right">
                <div class="footer-right-text1">Остались вопросы?</div>
                <div class="footer-right-text2">Узнавайте первым о скидках, предложениях и событиях
                    еженедельно в своем почтовом ящике.Отпишитесь в любое время одним щелчком мыши.</div>
                <form class="footer-form-email">
                    <img src="/assets/Icon.png" alt="image-email">
                    <input class="footer-input-right" type="search" placeholder="Введите свою почту">
                    <button class="footer-button-right">Отправить</button>
                </form>
            </div>
        </div>
    </div>
    <div class="footer-2">
        <div class="footer-2-down-text">
            <button routerLink="">{{footer1}}</button>
            <div>{{footer2}}</div>
            <div>{{footer3}}</div>
        </div>
        <div class="footer-2-down-symbol">
            <div>
                <img src="/assets/facebook.svg" alt="">
                <img class="footer-symbols" src="/assets/youtube.svg" alt="">
                <img class="footer-symbols" src="/assets/whatsapp.svg" alt="">
            </div>
            <div class="footer-data">C. 2021-2022., EDE</div>
        </div>
    </div>
</div>