.content_block {
  background: #11171a;
  padding: 50px 175px 100px;
  color: #F0BA4E;
}

.content_users_card {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
