<div class="container" shadowHighLight>

  <h1 class="title">Войти?</h1>

  <div class="btn-wrapper">

    <button
      class="btn" mat-raised-button color="warn" mat-dialog-close="admin"
      shadowHighLight matTooltip="Войти как админ">
      <mat-icon class="mat-icon">engineering</mat-icon>
      Админ
    </button>

    <button
      class="btn" mat-raised-button color="primary" mat-dialog-close="user"
      shadowHighLight matTooltip="Войти как юзер">
      <mat-icon class="mat-icon">person</mat-icon>
      Юзер
    </button>

  </div>

</div>
